################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vs
/TareasAPI/obj
/TareasAPI/bin/Debug/net8.0
/TareasAPI.Tests/bin/Debug/net8.0
/TareasAPI.Tests/obj
/SistemitaTareas/.vscode
